* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(255, 255, 255);
}

.top-bar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-bottom: 1px solid rgba(147, 59, 255, 0.2);
}

.nama {
    position: relative;
    font-size: 25px;
    color: #933bff;
    text-decoration: none;
    font-weight: 700;
}

.nama::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.navbar a {
    font-size: 20px;
    color: #933bff;
    text-decoration: none;
    font-weight: 750;
    margin-left: 35px;
}

.navbar a:hover,
.navbar a.ber-aktif {
    color: #35008b;
}

.beranda {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 80px;
   min-height: 100vh;
   height: 100vh;
   padding: 80px 10% 0; 
}

.isi-beranda {
    order: 2;
    max-width: 100%;
    transform: translateY(-80px);
}

.isi-beranda h1{
    font-size: px;
    font-weight: 700;
    line-height: 1.2;
}

.isi-beranda h3 {
    font-size: 32px;
    font-weight: 700px;
    color: #933bff;
}

.isi-beranda p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.isi-beranda .btn-group {
    display: flex;
    flex-direction: column;
   justify-content: space-between;
   gap: 12px;
   margin-top: 30px;
   width: fit-content;
   background: transparent;
}

.btn-group a {
    height: 40px;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 28px;
    border: 2px solid #a06ae2;
    border-radius: 18px;
    background: #a06ae2;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease; 
    z-index: 1;
    overflow: hidden;
}

.btn-group a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(110, 15, 226);
    border-radius: 1px;
    z-index: -1;
    transition: .5s;
}

.btn-group a:hover:before {
    width: 100%;
}

.social {
    position: absolute;
    bottom: 30px;
    left: 10%;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.social a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(171, 135, 233); 
    z-index: -1;
    transition: .5s;
}

.social a:hover::before {
    width: 100%;

}

.foto-beranda {
    order: -1;
    position: relative;
    width: 360px;
    height: 360px;
    border-radius: 50%;
    border: 6px solid #933bff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 60px rgba(147, 59, 255, 0.25);
    transform: translateY(-80px);
}

.foto-beranda img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.bg-foto {
    position: absolute;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background: radial-gradient(circle at top, #caa9ff, transparent 70%);
    z-index: -1;
}

.halaman-isi {
    max-width: 800px;
    margin: 140px auto 0;
    padding: 0 10%;
}

.halaman-isi h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #35008b;
}

.halaman-isi p {
    font-size: 18px;
    line-height: 1.7;
}

/* TENTANG SAYA */
.tentang {
    max-width: 1200px;
    margin: 160px auto 0;
    padding: 0 10%;
    display: flex;
    align-items: center;
    gap: 100px;
}

.isi-tentang {
    flex: 1;
}

.isi-tentang h1 {
    font-size: 48px;
    color: #933bff;
    margin-bottom: 16px;
}

.teks-tentang .teks-tentang {
    color: #933bff;
    font-weight: 600;
    margin-bottom: 20px;
}

.isi-tentang p {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 25px;
    max-width: 500px;
}

.about-btn {
    display: inline-block;
    padding: 10px 22px;
    background: #a06ae2;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
}

.about-btn:hover {
    background: rgb(110, 15, 226);
}

.about-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-img img {
    width: 420px;
    border-radius: 14px;
    object-fit: cover;
    box-shadow: 0 20px 40px rgba(0,0,0,0.)
}

/* PORTOFOLIO */
.portofolio {
    min-height: 100vh;
    padding: 120px 10%;
    background: #fff;
    text-align: center;
}

.portofolio h1 {
    font-size: 42px;
    color: #933bff;
    margin-bottom: 10px;
}

.portofolio p {
    font-size: 16px;
    color: #555;
    margin-bottom: 60px;
}

.proyek-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.proyek-kartu {
    background: #faf7ff;
    padding: 30px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 0 10px 30px rgba(147, 59, 255, 0.15);
    transition: 0.3s ease;
}

.proyek-kartu:hover {
    transform: translateY(-10px);
}

.proyek-kartu h3 {
    font-size: 20px;
    color: rgb(110, 15, 226);
    margin-bottom: 10px;
}

.proyek-kartu p {
    font-size: 14px;
    color: #555;
    margin-bottom: 15px;
}

.proyek-kartu span {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 999px;
    background: #933bff;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}

/* SKILLS */

.skills {
   min-height: 100vh;
   padding: 120px 10%;
   background: #fff;
   text-align: center;
}

.skills h1 {
   font-size: 42px;
   color: #933bff;
   margin-bottom: 10px;
}

.skills p {
  font-size: 16px;
  color: #555;
  margin-bottom: 60px;  
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
}

.kartu-skill {
    width: 220px;
    height: 180px;
    background: #faf7ff;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(147, 59, 255, 0.15);
    transition: 0.3s ease;
    text-align: center;
}

.kartu-skill:hover {
    transform: translateY(-8px);
}

.kartu-skill i {
    font-size: 48px;
    color:#933bff;
    margin-bottom: 15px;
}

.skartu-skill h3 {
    font-size: 18px;
    color: rgb(110, 15, 226);
    margin-bottom: 6px;
}

.kartu-skill span {
    font-size: 14px;
    color: #666;
}

/* KONTAK */
.kontak {
    min-height: 100vh;
    padding: 120px 10%;
    background: #fff;
    text-align: center;
}
.kontak h1 {
    color:#8b4bff; 
    font-size: 42px;
}
.kontak-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    justify-items: center;
    margin-top: 120px; 
}

.kartu-kontak {
    width: 220px;
    height: 180px;
    background: #faf7ff;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(147, 59, 255, 0.15);
    transition: 0.3s ease;
    text-align: center;
     text-decoration: none;   
    color: inherit;
}

.kartu-kontak:hover {
    transform: translateY(-10px);
    box-shadow: 0 30px 60px rgba(138, 75, 255, 0.25);
}

.kartu-kontak i {
    font-size: 40px;
    color: #8b4bff;
}

.kartu-kontak h3 {
    margin-top: 10px;
    font-size: 18px;
}

.kartu-kontak span {
    font-size: 14px;
    color: #666;
    word-break: break-all; 
}

.kartu-kontak:hover {
    transform: transalteY(-10px);
    box-shadow: 0 30px 60px rgba(138, 75, 255, 0.25);
}

/* FOTO PROFIL */
.foto-profil {
    margin-top: -170px;
    order: 1;
    width: 380px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-profil img {
    margin-top: -170px;
    width: 100%;
    height: auto;
}

/* PINDAH HALAMAN JS */
.page-content {
    opacity: 0;
    transform: translateX(40px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.page-content.show {
    opacity: 1;
    transform: translateX(0);
}

.page-content.hide {
    opacity: 0;
    transform: translateX(-40px);
}
